.dashboard > .header {
    display: flex;
    position: relative;
    right: 0;
}

.dashboard > .header > button {
    position: absolute !important;;
    right: 0;
    padding: 10px !important;
    font-size: initial !important;
    display: none !important;
}
    
.dashboard > .content {
    display: flex;
    justify-content: space-between;
}

.segment {
    height: calc(100vh - 130px);
}   

.dashboard > .content > div:first-child{
    width: 750px;
}

.dashboard > .content > div:last-child {
    width: 300px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .dashboard > .content > div:first-child {
        width: 100%;
    }   

    .dashboard .stackable {
        margin-top: 0;
    }

    .segment {
        height: auto;
    }

    .dashboard > .content > div:last-child{
        width: 100%;
        margin: 0 30px;
    }
    
    .dashboard > .content > div {
        transition: transform ease-in-out 200ms;
    }

    .dashboard > .content > div.hidden-mobile:last-child {
        position: absolute;
        transform: translateX(120vw);
    }

    .dashboard > .content > div.hidden-mobile:first-child {
        position: absolute;
        transform: translateX(-120vw);
    }

    .dashboard > .header > button {
        display: initial !important;
    }

}